/*-- Hide quotes in the beginning -----*/
.quotes {
  display: none;
}
/*-------------------------------------*/
body, div, p {
  margin: 0;
  padding: 0;
}
body, h1, h2, p, span, div {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0.0625em;
  font-size: 30px;
}
a {
  text-decoration: underline;
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
a:visited {
  color: white;
}
.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vcenter {
  position: relative;
  top: 48%;
  transform: translateY(-48%);
}
.go-next {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-size: 1em;
  top: 88%;
  left: 48%;
}
.topic_slides .go-next {
  color: white;
}
.map_slide .go-next {
  top: 92%;
}
.map_header {
  padding: 15px 0px;
}
.topic_slides {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* General slide look and feel */
.topic_slides .row div {
  color: white;
}
/* Hash-Header within topic-slides */
.topic_slides .row:first-child {
  border-bottom: thin solid white;
  margin: 0 1em;
}
.topic_slides .row:first-child div {
  font-size: 1.5em;
  margin-top: 10%;
  padding-bottom: 30px;
  padding-right: 0px;
  text-align: right;
}
/* content for topic slides */
.topic_slides .row:nth-child(2) {
  margin-top: 4em;
  padding-left: 35px;
  padding-right: 35px;
}
.topic_slides .row:nth-child(2) div {
  font-size: 1.5em;
}
/* Styling each slide differently */
#start {
  background: black;
  color: white;
}
#start div {
  font-size: 1.2em;
  padding: 20px;
}
#quick_facts div {
  margin-top: 35px;
}
#quick_facts div>span {
  font-size: 1.2em;
}
#quick_facts>div {
  margin-top: 60px;
}
#quick_facts h1 {
  font-size: 1.5em;
  border-bottom: thin solid grey;
  margin: 0 25px;
  padding-bottom: 30px;
}
#map .row iframe {
  width: 100%;
  height: 100%;
}
#results {
  background: black;
  color: white;
}
#football {
  background: url(images/football.jpg) no-repeat center center fixed;
}
/* Background for slides */
#brands {
  background: url(images/brands.jpg) no-repeat center center fixed;
}
#politics {
  background: url(images/politics.jpg) no-repeat center center fixed;
}
#people {
  background: url(images/people.jpg) no-repeat center center fixed;
}
#world {
  background: url(images/world.jpg) no-repeat center center fixed;
}
#wishes {
  background: url(images/wishes.jpg) no-repeat center center fixed;
}
#wishes .row:last-child div {
  font-size: 1.7em;
}
#wishes .row:last-child span {
  font-size: 0.6em;
  font-style: italic;
}



@media screen and (max-width: 400px) {
  .go-next {
    left: 43%;
    font-size: 0.6em;
    top: 92%;
  }
  .topic_slides .row:first-child div {
    font-size: 0.9em;
  }
  .topic_slides .row:nth-child(2) div {
    font-size: 0.7em;
    padding: 20px;
  }
  .topic_slides .row:nth-child(2) {
    margin-top: 0.2em;
  }
  .map_header {
    font-size: 0.7em;
    padding: 0px;
  }
  /* Start page */
  #start div {
    font-size: 0.9em;
    padding: 20px;
  }
  #start .vcenter {
    top: 18%;
    transform: translateY(-18%);
  }
  /* Second slide, quick facts */
  #quick_facts div {
    margin-top: 1px;
  }
  #quick_facts div>span {
    font-size: 0.6em;
  }
  #quick_facts>div {
    margin-top: 10px;
  }
  #quick_facts h1 {
    font-size: 1em;
    border-bottom: thin solid grey;
    margin: 0 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  #quick_facts .row:first-child div {
    margin-top: 9px;
  }
  #quick_facts .row div {
    line-height: 18px;
    margin-top: 10px;
  }
  #results .vcenter {
    top: 35%;
    transform: translateY(-35%);
  }
  #wishes .row:last-child div {
    font-size: 0.9em;
    padding: 20px;
  }
  #wishes .row:last-child span {
    font-size: 0.5em;
    font-style: italic;
  }
}